body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav {
  padding-top:2em;
  padding-bottom:1em;
  width: 100%;
  position: absolute;
  top: 0;
  text-align: right
}

.nav-item,.nav-item-bold {
  margin:1em;
  color: #AAAAAA;
  text-transform: uppercase;

}

.nav-item-bold {
  font-weight:bold;
  margin-right:3em;
}

.nav-item a, .nav-item-bold a {
  style: none;
  color: #AAAAAA;
  text-decoration: none;
}

.main-container {
  width:100%;
  height:100%;
  position:absolute;
  z-index:10000;
}

.main-center {
  width:100%;
  text-align: center;
  position: absolute;
  top: 45%;
  color: #AAAAAA;
  font-size: 2em;

  text-transform: uppercase;

}